<div class="card mb-4">
    <div class="card-body">
        <% Object.keys(list_users).forEach(function(type) { %>
            <h5 class="card-title">
                <%=type %>
            </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <% Object.keys(scheme[type]).forEach(function(key){%>
                            <th>
                                <%= scheme[type][key].pretty %>
                            </th>
                            <%});%>
                    </tr>
                </thead>
                <tbody>
                    <%list_users[type].forEach(function(user){%>
                        <tr>
                            <td>
                                <%= user["id"]%>
                            </td>
                            <td>
                                <%= user["username"]%>
                            </td>
                            <% Object.keys(scheme[type]).forEach(function(key){%>
                                <td>
                                    <%= user[key] %>
                                </td>
                                <%});%>
                                    <form action="/delete-user" method="post">
                                        <input type="hidden" name="originurl" value="<%= originurl %>">
                                        <input type="hidden" name="userid" value="<%= user["id"] %>">
                                        <td><button type="submit" class="btn btn-primary">X</button> </td>
                                    </form>
                        </tr>
                        <%});%>
                </tbody>
            </table>
            <%}); %>
    </div>
</div>